<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div>
      <br>
      <p>An incomplete list of the Track Club crew ...</p>
    </div>
    <div class="grid" id="the-main-grid">
        <div class="row">
          {{ range .Data.Pages }}
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 masonry-item">
                  <div class="box-masonry" style="border-left: 8px solid #0a72c7">
                      {{ if and (isset .Params "image") .Params.image }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>{{ .Title }}</h4>

                          <div class="box-masonry-description" id="view{{ .Params.Tag }}">
                            {{ if and (isset .Params "audioclip") .Params.audioclip }}
                            <div style="height:38px">
                              <div class="audioPlayer" style="display: none"
                                  data-wimpyplayer
                                  data-responsive
                                  data-skin='{{ "wimpy/active_skin.tsv" | absURL }}'
                                  data-media="{{ .Params.audioclip | absURL }}"
                                  data-volume=0.6
                                  ></div>
                                  <p class="audioLoad">Loading ...</p>
                            </div>
                            <br>
                            {{ end }}

                            {{ .Content }}
                            <p class="social">
                              {{ with .Params.soundcloud }}
                              <a href="{{ . }}" data-animate-hover="pulse" class="external">
                                <i class="fab fa-soundcloud"></i>
                              </a>
                              {{end}}
                              {{ with .Params.bandcamp }}
                              <a href="{{ . }}" data-animate-hover="pulse" class="external">
                                <i class="fab fa-bandcamp"></i>
                              </a>
                              {{end}}
                              {{ with .Params.spotify }}
                              <a href="{{ . }}" data-animate-hover="pulse" class="external">
                                <i class="fab fa-spotify"></i>
                              </a>
                              {{end}}
                              {{ with .Params.website }}
                              <a href="{{ . }}" data-animate-hover="pulse" class="external">
                                <i class="fas fa-link"></i>
                              </a>
                              {{end}}
                              {{ with .Params.github }}
                              <a href="{{ . }}" data-animate-hover="pulse" class="external">
                                <i class="fab fa-github"></i>
                              </a>
                              {{end}}
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
