<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range sort .Data.Pages ".Params.weight" "desc" }}
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 masonry-item">
                  <div class="box-masonry" style="border-bottom: 8px solid #0a72c7">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if and (isset .Params "ourospect") .Params.ourospect }}
                      <div id="onexone_container">
                        <div id="onexone_dummy"></div>
                        <div id="onexone_element">
                          <object type="image/svg+xml" data='{{ "ouro/endlesss.svg" | absURL}}' style="width:100%;height:100%;margin:auto;"></object>
                        </div>
                      </div>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>
                          {{ if and (isset .Params "ourospect") .Params.ourospect }}
                          {{ .Title }}
                          {{ else }}
                          <a href="{{ .Permalink }}">{{ .Title }}</a>
                          {{ end }}
                          </h4>

                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
